    /*Cuarta pagina*/
    
    .contact__title {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        font-size: 3rem;
        color: $color-secundary;
        padding: 6%;
    }
    
    .contacto-subtitulo{ color:#1570BE;
        font-family: "Oswald", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;}
    
    .contacto-texto{ font-size: 18px;
        color: #333;
        font-family: "Oswald", sans-serif;
    text-align: left;}
    
    .contacto-info{ font-size: 18px;
        color: #333;
        font-family: "Oswald", sans-serif;
    text-align: left;}

    .mapa{justify-content: left;}
    
    .mensaje-titulo{color:#1570BE;
        font-family: "Oswald", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;}
    
    .enviar-mensaje{display: inline-block;
        padding: 10px 20px;
        background-color: $color-secundary;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        border: none;}
    
