
    /*quinta pagina*/
    
    .donaciones-titulo {text-align: center;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        font-size: 3rem;
        color: #51bedb;
        padding: 6%;
    }
    
    .donaciones-texto{ font-size: 18px;
        color: #333;
        font-family: "Oswald", sans-serif;
    text-align: center;}
    
    .donaciones__image{
        width: 80%;
        height: 96%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);     
    padding: 30px;
    margin-left: 20%;

background-color: #add046;}
    
    
    .donaciones__form__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }
    
    .donaciones__form {
        height: 96%;
        width: 80%;
        padding: 20px;
        background-color: #add046;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .donaciones__form__row {
        margin-bottom: 15px;
    }

    .donaciones__form__select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    .donaciones__form__button{background-color:$color-secundary;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;}

@media (max-width:900px) { .donaciones__image {display: none;}}

@media(max-width:900px) {.media-prueba{ padding-left: 40px; }}